.pacientes {
  .superior {
    text-align: center;
    h1 {
      margin: 0;
    }
  }
  .paperSearch {
    padding: 1em;
    margin-top: 2em;
    display: flex;
    .searchInput {
      width: 10em;
      transition: width 0.5s ease-in-out;
    }
    .spacer {
      flex: 1 1 auto;
    }
  }
}
