.signup {
  display: grid;
  background-image: linear-gradient(
    to bottom,
    #46d0f7,
    #50c9f7,
    #5cc1f6,
    #69baf3,
    #76b2ef,
    #6fa8f1,
    #6c9df1,
    #6e92f0,
    #647ff4,
    #656af4,
    #6e50f0,
    #7d2ae8
  );
  height: calc(100vh);
  .card {
    margin: auto;
    width: calc(6em + 40vmin);
    height: calc(4em + 50vmin);
    min-height: 25em;
    border-radius: 10px;
    .cardheader {
      text-align: center;
    }
    form {
      margin: auto 2em;
      height: calc(100% - 63px);
      display: flex;
      flex-direction: column;
      .emailinput {
        margin: auto 0 0 0;
      }
      .errormsg {
        color: darkred;
        text-align: center;
      }
      button {
        margin: auto 0;
        margin-bottom: 0;
      }
      .linkto,
      .linkto:visited {
        margin: auto;
        text-decoration: none;
        color: gray;
        padding: 1em;
      }
      .linkto:hover {
        padding: 1em;
        border-radius: 8px;
        background-color: lightgray;
      }
    }
  }
}
